Box-Office Revenue Prediction

In [2]:
'''Importing Basic Packages'''
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
'''Importing Scikit Packages'''
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.feature_extraction.text import CountVectorizer
from sklearn import metrics

In [11]:
'''CSV Dataset into Pandas Dataframe'''

data = pd.read_csv('boxoffice.csv')
dataTitle = data.style.set_caption("Box Office Data from IMDB")
data.head()

,title,domestic_revenue,world_revenue,distributor,opening_revenue,opening_theaters,budget,MPAA,genres,release_days
0,The Avengers,6026491,1274885664,Warner Bros.,163620146,253,174687337,R,Animation,16
1,Titanic,169411543,1132871091,Disney,85549990,122,103948486,G,Action,103
2,Jurassic Park,107836098,583329845,Sony,55681429,3826,122104991,NC-17,Horror,89
3,Avatar,51433697,1225323391,Disney,109775324,3868,46431596,G,Horror,85
4,The Lion King,142791649,604140729,Warner Bros.,59476800,2934,203513696,R,Comedy,158

In [13]:
'''Dataset Exploration'''
data.shape #Rows/Columns of Data
data.info() #Data types of data in dataframe

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2694 entries, 0 to 2693
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   title             2694 non-null   object
 1   domestic_revenue  2694 non-null   int64
 2   world_revenue     2694 non-null   int64
 3   distributor       2694 non-null   object
 4   opening_revenue   2694 non-null   int64
 5   opening_theaters  2694 non-null   int64
 6   budget            2694 non-null   int64
 7   MPAA              2694 non-null   object
 8   genres            2694 non-null   object
 9   release_days      2694 non-null   int64
dtypes: int64(6), object(4)
memory usage: 210.6+ KB

Dataset had "object" types in its data instead of integers. Dataset needs to be cleaned in order for further use.

In [15]:
data.describe().T

,count,mean,std,min,25%,50%,75%,max
domestic_revenue,2694.0,1.508539e+08,8.579997e+07,827765.0,7.673272e+07,152572473.5,2.247314e+08,2.998107e+08
world_revenue,2694.0,7.719177e+08,4.284414e+08,3261301.0,3.991135e+08,766555142.5,1.143920e+09,1.499310e+09
opening_revenue,2694.0,9.971321e+07,5.721762e+07,138569.0,5.033848e+07,99814175.0,1.489805e+08,1.999336e+08
opening_theaters,2694.0,2.263039e+03,1.298559e+03,10.0,1.161000e+03,2271.5,3.392250e+03,4.499000e+03
budget,2694.0,1.537996e+08,8.557624e+07,5197977.0,7.861876e+07,156256716.0,2.274832e+08,2.998597e+08
release_days,2694.0,9.089755e+01,5.089404e+01,1.0,4.700000e+01,91.0,1.350000e+02,1.790000e+02

Will only be using domestic revenue for this project, so there is no need for world or opening revenue (this values might be taken into account in the future).

In [17]:
'''Removing Unecessary Columns'''
remove = ['world_revenue', 'opening_revenue']
data.drop(remove, axis=1, inplace=True)

In [19]:
'''Cleaned Up Dataset'''
data.describe().T #.T is to transpose dataframe columns for readability purposes

,count,mean,std,min,25%,50%,75%,max
domestic_revenue,2694.0,1.508539e+08,8.579997e+07,827765.0,76732721.25,152572473.5,2.247314e+08,299810741.0
opening_theaters,2694.0,2.263039e+03,1.298559e+03,10.0,1161.00,2271.5,3.392250e+03,4499.0
budget,2694.0,1.537996e+08,8.557624e+07,5197977.0,78618761.50,156256716.0,2.274832e+08,299859703.0
release_days,2694.0,9.089755e+01,5.089404e+01,1.0,47.00,91.0,1.350000e+02,179.0

The "world_revenue" and "opening_revenue" columns are not part of the dataset anymore.